body{
  background-color:#e3e3e3;
  margin: auto;
  padding: 0;
  width:768px;
}

header{
  background-color:#ffffff;
}

footer{
  background-color:#ffffff;
  min-height:100px;
}

.index-box{
  background-color:#3c3c3a;
  min-height:300px;
}